PORT=3001
CLIENT_URL=http://localhost:5173
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=coloca_aqui_tu_password
DB_NAME=medilink
JWT_SECRET=cambia_esta_clave_por_una_muy_larga_y_segura
JWT_EXPIRES_IN=8h
DIALOGFLOW_PROJECT_ID=tu-id-de-proyecto
DIALOGFLOW_LANGUAGE_CODE=es
DIALOGFLOW_ENABLED=false
