PORT=3001
CLIENT_URL=http://localhost:5173
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=coloca_aqui_tu_password
DB_NAME=medilink
JWT_SECRET=cambia_esta_clave_por_una_muy_larga_y_segura
JWT_EXPIRES_IN=8h
DIALOGFLOW_PROJECT_ID=tu-id-de-proyecto
DIALOGFLOW_LANGUAGE_CODE=es
DIALOGFLOW_ENABLED=false

NOTIFICATION_EMAIL_ENABLED=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_password_de_aplicacion
SMTP_FROM="MediLink <tu_correo@gmail.com>"
NOTIFICATION_WHATSAPP_ENABLED=true
WHATSAPP_COUNTRY_CODE=51
WHATSAPP_API_VERSION=v25.0
WHATSAPP_PHONE_NUMBER_ID=1201370266398701
WHATSAPP_ACCESS_TOKEN=EAAOzZBHgbS9oBR0ccxjKwhddN761qtyUZAGQpotrw4fV5gL0ZAZBERfOIXqa4oIBnBRWeFByoC2q7XZCPOmeZAtkgSoQnDmZAVw1WKRxatR830ibs7J60LH5eHD0NealMg04NjZCNe6ZBgogEyo2REY7DZCyph9DznhJDxV8OOxAB4bq0ZB5QBqtS9oGZAnnqcbdjUyLydqPRFxZBmZBbCtf6LGuKaOmFmZAq6AVPgmYj4SrWE3kiK1BQQCaGk0bY3JCZC1FCoadHkZADdaov3CSDo613JjACppnf
